@model ClearEdge_Tables.Models.ViewModels.TableCategoryViewModel

<form asp-area="Customer" asp-controller="Home" asp-action="Index" method="get">
    <div class="d-flex">
        <p class="d-flex gap-3 w-100 mr-5 mb-0 py-0">
            <select class="form-control" asp-for="Category" asp-items="Model.Categories">
                <option value="">All</option>
            </select>
            <label for="search-string">Name:</label><input id="search-string" class="form-control" type="text" asp-for="SearchString" />
            <input class="btn btn-outline-success" type="submit" value="Filter" />
        </p>
    </div>
</form>

    <div class="row pb-3">
        @foreach(var table in Model.Tables)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded responsive-browsing-tables">
                        <div class="table-card-product card-img-top rounded bg-image d-flex justify-content-center align-items-center"
                          style="
                            background-image: url('@table.ImageUrl');
                            background-size: cover;
                            background-position: center;
                          "
                        >
                        </div>
                        @* <img src="@table.ImageUrl" class="card-img-top rounded" /> *@
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p 
                                    class="card-title h5 text-dark opacity-75 text-uppercase text-center"
                                   style="display: -webkit-box;
                                          -webkit-box-orient: vertical;
                                          -webkit-line-clamp: 2;
                                          overflow: hidden;">
                                    @table.Name
                                </p>
                                <p class="card-title text-warning text-center">
                                    Manufactured by <b>
                                        @table.Manufacturer
                                    </b>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Only @table.Price.ToString("c")
                                </p>
                            </div>
                            <a
                                asp-route-tableId="@table.Id"
                                asp-action="Details"
                                class="btn btn-primary bg-gradient border-0 form-control">
                                <i class="bi bi-currency-dollar"></i> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    }
</div>